
.paper-Style{
    padding: '10px 10px 10px 10px';
    height: '80vh';
    width: 100;
    margin: "40px auto"
}
.btnstyle{
    margin: '50px 0';
}
.textstyle{
    color: '#0878ea';
    padding: '10px 0px 00px 10px'
}
.post{
    height: '10vh';
     width: 1000;
      margin: '-25px auto';
     padding: '0px 0px 0px 30px'
}